<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>ToDOList</title>
    <link rel="stylesheet" href="./assets/css/style.css">
</head>

<body>

    <div id="app">
        <div class="container">
            <div class="input">
                <img width="400" src="https://hiringplatform.boolean.careers/images/logo.png" alt="...">
                <div class="input_text">
                    <input type="text" placeholder="Inserisci nuova task" v-model="newTask"
                        @keyup.enter="addTask($event)">
                    <!-- BONUS: @keyup.enter="addTask($event)"
                            1- oltre al click sul pulsante, intercettare anche il tasto ENTER per aggiungere il todo alla lista -->

                    <button @click="addTask(event)">Aggiungi</button>
                </div>
            </div>
            <section class="text_list">
                <ul>
                    <!-- MILESTONE 1
                        Stampare all'interno di una lista, un item per ogni todo. Se la proprietà done è uguale a true, visualizzare il testo del todo sbarrato. -->
                    <li v-for="(task, index) in tasks" v-if="task.done == true" style="text-decoration: line-through;" @click="crossText(index)">
                        {{task.text}} <i class="fa-solid fa-xmark" @click="removeTask(index)"></i></li>

                    <li @click="crossText(index)" v-else>
                        {{task.text}}
                        <i class="fa-solid fa-xmark" @click="removeTask(index)" >

                        </i>
                    </li>
                </ul>

            </section>


        </div>
    </div>

    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <script src="./assets/js/app.js"></script>
</body>

</html>